<div class="field">
  <%= f.label :title, "タイトル", class: "label" %>
  <%= f.text_field :title, class: "input" %>
</div>

<div class="field">
 <%= f.label :body, "内容", class: "label" %>
 <%= f.text_area :body, class: "textarea" %>
</div>

<div class="field">
  <%= f.label :image, "添付", class: "label" %>
  <%= f.file_field :image, class: "input" %>
</div>